# Prototype
client-extension/deploy.js
client-extension/deploy.html
client-extension/deploy.css
client-extension/connecting.html

# Node and browser extension dependencies
node_modules/
.DS_Store
*.log


# OS and editor files
*.swp
*.swo
.vscode/
.env

# Build outputs
/dist/
/build/
/artifacts
/cache

# Misc
*.tmp
*.bak

# Private agent tools
agent/tools/
